body {
  background-color:#F8F9FA;
  font-family: Sans, Helvetica, Arial;
  padding:0 1em;
  margin:0
}

h1 {
  margin: 0 -2em 1em -2em;
  padding: 0.5em 3em;
  color: #161823;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  background-color: #e0dfdf;
  border-bottom: solid 2px black;
}
h2 {
  margin: 0.5em 0 1em 0;
  font-size: 150%;
  font-weight: bold;
  text-align:left;
  border-bottom: solid 2px black;
}

p {
  color:#161823;
  line-height: 120%;
}
textarea {
  color:#161823;
  width:98%;
  font-size:120%;
}
input {
  font-size:100%;
  font-family: Sans, Helvetica, Arial;
  padding: 4px;
}
a:link, a:visited, a:active {
  color: #000000;
  text-decoration: none;
}
a.normal:hover {
  color:#ffffff;
  background-color:#ff8c00;
}
table {
  border-collapse: collapse;
  margin: 1em 0;
  padding: 0px;
  color: #161823;
  background-color: #E9ECEF;
}
tr {
  border-style:none;
}
th, td {
  text-align: left;
  vertical-align: middle;
  color: #000000;
  border-style: solid;
  border-color: #c0c0c0;
  border-width: 1px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}
th {
  color:#303030;
}

.uhrzeitbox {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  color: #161823;
  font-size: 50px;
  font-weight: 600;
}

.timerbox {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  color: #161823;
}

.timeraktuell {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  color: #161823;
  font-size: 50px;
  font-weight: 600;
}

.timerbuttonbox{
  display: flex;
  justify-content: center;
}

.btn{
font-weight: 600;
font-size: 14px;
color: #161823;
background-color: #e0dfdfb6;
padding: 10px 30px;
border: solid #000000 1px;
box-shadow: none;
border-radius: 9px;
transition : 854ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

.btn:hover{

transition : 854ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #cac9c9c5;
color: #161823;
border: solid 1px #000000;
}